version: '3.8'

services:
  dashpub:
    build: .
    image: registry.antodis.com/seshatv2/dashpub
    ports:
      - "4000:4000"
    environment:
      - DASHPUB_MONGO_URL=mongodb://mongo:27017/dashpub
      - DASHPUB_STORAGE_PATH=/data
    volumes:
      - ./pubdata:/data
    depends_on:
      mongo:
        condition: service_healthy

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - mongo_data:/data/db

volumes:
  dashpub_data:
  mongo_data:
